In [1]:
# import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from functions import load_subset, fine_tune_and_cross_validate, test_model, feature_selection
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = load_subset("task1")

In [3]:
print(len(df.columns))

103

In [3]:
X,y = df.drop('target', axis=1), df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [4]:
# feature selection
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)
X_selected, y_selected = feature_selection(X_train, y_train, rf_model)

Optimal number of features: 30
Selected features: ['admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'number_diagnoses', 'race_AfricanAmerican', 'race_Caucasian', 'gender_Female', 'gender_Male', 'age_[40-50)', 'age_[50-60)', 'age_[60-70)', 'age_[70-80)', 'age_[80-90)', 'metformin_No', 'metformin_Steady', 'glipizide_No', 'glyburide_No', 'pioglitazone_No', 'rosiglitazone_No', 'insulin_No', 'insulin_Steady', 'change_Ch', 'change_No']

In [5]:
data = pd.concat([X_selected, y_selected], axis=1)
data

,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,...,metformin_Steady,glipizide_No,glyburide_No,pioglitazone_No,rosiglitazone_No,insulin_No,insulin_Steady,change_Ch,change_No,target
3283,1,1,7,3,40,0,9,0,0,1,...,True,False,True,True,True,True,False,True,False,0
2294,5,11,1,7,77,1,28,2,0,1,...,False,True,True,True,True,False,True,False,True,0
20028,3,1,1,8,61,3,35,0,0,0,...,False,True,True,True,True,False,True,False,True,0
2325,1,6,7,3,49,0,16,0,0,3,...,False,True,True,True,True,True,False,False,True,1
14242,1,1,17,1,13,0,3,0,0,0,...,False,True,True,True,True,True,False,False,True,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,1,2,7,7,66,3,31,0,0,0,...,False,True,True,True,True,False,False,True,False,1
10303,1,8,7,5,51,1,19,0,0,0,...,False,True,True,True,False,False,True,True,False,1
4370,1,1,7,2,30,1,9,0,1,0,...,False,True,True,True,True,True,False,False,True,0
2590,3,6,1,3,35,1,25,0,0,0,...,True,True,True,True,True,False,True,True,False,0
7382,1,1,7,2,43,6,19,0,0,0,...,False,True,True,True,True,True,False,False,True,0

In [6]:
data.to_csv("selected_features.csv", index=False)